[submodule "benchmarks/pubmed_sentence_classifier/raw_data"]
	path = benchmarks/pubmed_sentence_classifier/raw_data
	url = https://github.com/Franck-Dernoncourt/pubmed-rct.git
[submodule "externals/HighFive"]
	path = externals/HighFive
	url = git@github.com:BlueBrain/HighFive.git
[submodule "externals/json"]
	path = externals/json
	url = git@github.com:nlohmann/json.git
[submodule "externals/argparse"]
	path = externals/argparse
	url = git@github.com:p-ranav/argparse.git
[submodule "externals/sqlite_orm"]
	path = externals/sqlite_orm
	url = git@github.com:fnc12/sqlite_orm.git
[submodule "externals/pbar"]
	path = externals/include/pbar
	url = git@github.com:Jvanrhijn/pbar.git
[submodule "externals/cppitertools"]
	path = externals/include/cppitertools
	url = git@github.com:ryanhaining/cppitertools.git
