# In order to keep the build time of Agatha on ReadTheDocs.org below the 900
# second time limit, we will use sphinx autodoc's mockup feature for these
# modules.
torch
gensim
numpy
spacy
pandas
matplotlib
scispacy
nltk
pytorch-lightning
pygsheets
h5py
