# Warning, this file is parsed by setup.py to create install_requires
# I wrote a really dumb parser, this means that a line cannot contain both a
# comment and a module name. Comment lines MUST start with #

################################################################################
# Required to Construct the Semantic Network And Train Models ##################
################################################################################

cloudpickle
dask
distributed
faiss-cpu
fsspec
gdown
gensim
h5py
lxml
networkx
nltk
numpy
pandas
protobuf
pygsheets
pymongo
pytorch-lightning
scispacy
sentencepiece
sklearn
spacy
sqlitedict
torch
tqdm
transformers


################################################################################
# Quality of Life ##############################################################
################################################################################

# Dask web interface uses this.
bokeh

# Dask-ssh, which spawns a dask cluster, uses this
paramiko

# Used to make sure some things are working. Not as many unit tests as we
# should have.
pytest

################################################################################
# Needed to run tools and create plots #########################################
################################################################################

matplotlib

# Used to run the semmeddb tool
fire

################################################################################
# Needed to build the docs #####################################################
################################################################################

# WARNING: This file will NOT be loaded by ReadTheDocs.org. Instead, this file
# exists as an easy way for developers to add the documentation dependencies to
# an existing environment.

# Read help/write_docs.md for more information about how to update the
# ReadTheDocs dependencies. But tl;dr: update environment.yaml

# Generates Documentation
sphinx>=3.0.0

# Allows for markdown docs
recommonmark

# Allow sphinx to see type hints
sphinx-autodoc-typehints

# Theme
sphinx-rtd-theme

# Run ApiDoc on Build
sphinxcontrib-apidoc
