# None of the following requirements are necessary to use Agatha.
# If you wish to construct the system yourself, or if you want to
# Replicate our experiments, then you should:
# pip install -r requirements.txt

################################################################################
# Required to Construct the Semantic Network And Train Models ##################
################################################################################

faiss-cpu
fsspec
gensim
lxml
networkx
nltk
pandas
pygsheets
pymongo
scispacy
spacy
transformers


################################################################################
# Quality of Life ##############################################################
################################################################################

# Dask web interface uses this.
bokeh

# Dask-ssh, which spawns a dask cluster, uses this
paramiko

# Used to make sure some things are working. Not as many unit tests as we
# should have.
pytest

################################################################################
# Needed to run tools and create plots #########################################
################################################################################

matplotlib

# Used to run the semmeddb tool
fire
